@model DeductionViewModel

@{
  ViewData["Title"] = "Manage your employee deductions";
}

<div class="panel panel-default deduction-panel">
  <div class="panel-heading">@ViewData["Title"]</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>First</td>
        <td>Last</td>
        <td>Yearly Deduction</td>
        <td>Number of Dependents</td>
      </tr>
    </thead>

    @foreach (var deduction in Model.Deductions)
    {
      <tr>
        <td>@deduction.FirstName</td>
        <td>@deduction.LastName</td>
        <td>@deduction.YearlyDeduction</td>
        <td>@deduction.DependentsCount</td>
      </tr>
    }
  </table>
  
  <div class="panel-footer add-deduction-form">
    <!-- TODO: Add deduction form -->
  </div>
</div>