@model DeductionViewModel

@{
  ViewData["Title"] = "Manage your employee deductions";
}

<div class="panel panel-default deduction-panel">
  <div class="panel-heading">@ViewData["Title"]</div>

  <table class="table table-hover">
    <thead>
      <tr class="table-row">
        <td><strong>Employee Name:</strong></td>
        <td><strong>Yearly Deduction:</strong></td>
        <td><strong>Per Paycheck Deduction:</strong></td>
        <td><strong>Dependents:</strong></td>
      </tr>
    </thead>

    @foreach (var entry in Model.Deductions)
    {
      <tr class="table-row">
        <td>@entry.EmployeeName</td>
        <td>@entry.YearlyDeduction.ToString("C")</td>
        <td>@entry.PaycheckDeduction.ToString("C")</td>
        <td>@entry.Dependents</td>
        <td><a class="edit-button" asp-action="EditDeductionEntry" asp-route-id="@entry.Id">Edit</a></td>
        <td><a class="delete-button" asp-action="DeleteDeductionEntry" asp-route-id="@entry.Id">Delete</a></td>
      </tr>
    }
  </table>

  <div class="panel-footer add-item-form">
    <p class="centered-text"><a class="ghost-button info-text" asp-controller="Deduction" asp-action="AddDeductionForm">Add Entry</a></p>
  </div>
</div>